<div class="grid">
  <div class="grid-inner">
    <div class="grid-column"><span class="grid-column--inner"></span></div>
    <div class="grid-column"><span class="grid-column--inner"></span></div>
    <div class="grid-column"><span class="grid-column--inner"></span></div>
    <div class="grid-column"><span class="grid-column--inner"></span></div>
    <div class="grid-column"><span class="grid-column--inner"></span></div>
    <div class="grid-column"><span class="grid-column--inner"></span></div>
    <div class="grid-column"><span class="grid-column--inner"></span></div>
    <div class="grid-column"><span class="grid-column--inner"></span></div>
    <div class="grid-column"><span class="grid-column--inner"></span></div>
    <div class="grid-column"><span class="grid-column--inner"></span></div>
    <div class="grid-column"><span class="grid-column--inner"></span></div>
    <div class="grid-column"><span class="grid-column--inner"></span></div>
  </div>
</div>