<div class="article__share-tools">
  <h3 class="article__share-tools__h visually-hidden">Share</h3>

  <ul class="article__share-list">
    <li class="article__share-item article__share-item--twitter">
      <a href="https://twitter.com/intent/tweet?url={{article.url}}&amp;text={{article.title}}" class="article__share-item--link" target="_blank" rel="noopener">
        <span class="article__share-item--text visually-hidden">Share on Twitter</span>
        <svg class="article__share-item--icon">
          <use xlink:href="#twitter"></use>
        </svg>
      </a>
    </li>
    <li class="article__share-item article__share-item--facebook">
      <a href="https://www.facebook.com/sharer/sharer.php?u={{article.url}}" class="article__share-item--link" target="_blank" rel="noopener">
        <span class="article__share-item--text visually-hidden">Share on Facebook</span>
        <svg class="article__share-item--icon">
          <use xlink:href="#facebook"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>