%gutenberg-component-styles {
  .wp-block-code {
    @include block-spacing-md;
    background: $c-code-bg;
    color: $c-code;
    padding: $spacing-sm;
    border-radius: 3px;
    @include mq($bp-tablet-xl) {
      padding: $spacing-lg;
    }
  }
}
