// Layout
// -------
// Base styles for the site layout
//
// TOC:
// 1. Base Layout

// 1. Base Layout
// -------

.wrapper {
  background-color: $c-wrapper-bg;
  overflow: hidden;
  position: relative;
}
