$social-width: 45px;

.article__share-tools {
  float: right;
  margin-bottom: 10px;
  margin-left: 10px;
  width: $social-width;
  z-index: $z-index-1;

  @include mq($bp-desktop) {
    position: sticky;
    top: 30px;

    .article-align-right & {
      float: left;
    }
  }
}

.article__share-list {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}

.article__share-item {
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.article__share-item--link {
  @include size($social-width);
  @include color-link(currentColor, $c-reverse-spot, $c-reverse);
  align-items: center;
  border-radius: 50%;
  display: flex;
  justify-content: space-around;

  &:hover,
  &:focus {
    background: $c-base;
  }

  svg {
    @include size(30px);
  }
}
