{% set navLight = navLight ?? false %}
{% set pageClass = navLight ? 'light-nav' : '' %}

<!DOCTYPE html>
<html lang="en-us">
  <head>
    {% block head %}
      {% include "_includes/head" %}
    {% endblock %}
  </head>

  <body class="article-align-center {{pageClass}}">
    <div class="page">
      <a href="#content" class="skip-to-content" tabindex="0">Skip to content</a>

      {% include "_includes/svgs" %}
      {% include "_includes/grid" %}

      <div class="page-wrapper">

        {% block nav %}
          {% include "_components/nav" %}
          {% include "_components/menu.twig" %}
        {% endblock %}

        <main id="content" class="content" tabindex="-1">
          {% block content %}
          {% endblock %}
        </main>

        {% block footer %}
          {% include "_components/footer" %}
        {% endblock %}
      </div>
    </div>
    <script src="/static/dist/vendor.js"></script>
    <script src="/static/dist/main.js"></script>
  </body>
</html>
