{% extends "_layouts/base" %}

{% set navLight = entry.useLightTopNavigation %}

{% block content %}

{% embed '_components/carousel' with {
  title: 'Latest Posts',
  groupCells: 1
} %}
  {% block items %}
    {% for slide in entry.slides %}
    <div class="c-carousel__item">
      <div class="c-carousel__image" style="background-image: url({{slide.getUrl()}})"></div>
    </div>
    {% endfor %}
  {% endblock %}
{% endembed %}

{% include "_components/articles/article-topper" with { article: entry } %}

<article class="article-body">
  {% include "_components/articles/byline.twig" with { article: entry } %}
  {% include "_components/articles/share-tools.twig" with { article: entry } %}

  <div class="article-body-width js-hang-punc">
    {% include "_components/content-blocks" with { blocks: entry.contentBlocks.all() } %}
  </div>
  {% include "_components/articles/article-footer.twig" with { article: entry } %}
</article>

{% endblock %}